#dark {
  background: #000;

  .the-footer {
    background: #fff;

    .content {
      .text-container {
        .text-top {
          color: #000;

          .rules-link {
            color: #000;

            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }

  .the-main {
      color: #fff;
      box-shadow: 0 0 50px 0 #fff;
  }

  button.app-button {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;

    &:hover {
      background: #4d4d4d;
    }

    &:disabled {
      &:hover {
        background: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
